html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", crossorigin="anonymous")


	body
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
				a(href="/" class="navbar-brand")  Bulletin
				a(href="/new" class="btn btn-success pull-right")  add new comment
		block content
