extends ./application.pug
block content
	.container
		.row
			.col-xs-6.col-xs-offset-3

				form(class="form-horizontal" action="/" method="POST")
					.form-group
						label(for="exampleInputName2") Title
						input(type="text" class="form-control" id="exampleInputName2" name="title")

					.form-group
						label(for="") Message
						textarea(class="form-control" rows="3" name="description")
					.form-group.text-right
						button(type="submit" class="btn btn-success") Add message
